.container{
  display: flex;
  flex-direction: row;
  width: 98%;
  height: 100vh;
  justify-content: space-between;
}
.sidebar{
  width: 13%;
  height: inherit;
  background-color: #191D23;
}
.Topbar{
  background-color: #191d23;
  height: 7%;
  width: 100%;
  display: flex;
  justify-content: center;
  border-radius: 5px;
}
.Rightside{
  width: 85%;
}

